<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi nombre es Federico Montagna, y estos son mis familiares:</h1>
    {% for familiar in familia %}
   <h4> Mi {{familiar.vinculo}} se llama {{familiar.nombre}}<br>
    Nacio el {{familiar.nacimiento}}<br>
    Tiene {{familiar.edad}} años<br></h4>
    {% endfor %}
</body>
</html>