{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"></head>
<center><h1>Cargar o Buscar Usuarios</h1></center>
<body>
    <br>
    <center>
        <a class="btn btn-outline-dark m-2" href="{% url 'usuario_list' %}">Lista de Usuarios</a>
        <a class="btn btn-outline-primary m-2" href="{% url 'Crear_Usuario' %}">Crear Usuario</a>
        <a class="btn btn-outline-success m-2" href="{% url 'Busqueda_Usuario' %}">Buscar Usuario</a>
    </center>
    <br>
</body>
{% endblock %}

